:root{
    --cor-texto-areas-claras:#000000;
    --cor-texto-areas-escuras: #ffffff;
    --cor-fundo: #5c20b6;
    --cor-complementar: #470ca3;
    --cor-escura: #250d4d;
    --cor-bg: #1c072e;

    --font-robot: "Roboto";
    
}